.container{
    background-color: rgb(111, 111, 201);
    border: 1px solid;
    margin: 0px 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: fit-content;

}

.grid-item{
    flex: 1;
    border: black, 1px;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-between;
}

.grid-item:hover{
    background-color: aqua;
}