.container{
    background-color: rgb(111, 111, 201);
    border: 1px solid;
    margin: 0px 40px 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: fit-content;
    height: fit-content;

}

.grid-item{
    flex: 1;
    padding: 10px 12px;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-evenly;
}
